<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="obj" class="com.javatpoint.aop.A"></bean>
	<bean id="objV" class="com.javatpoint.aop.Validator"></bean>
	<bean id="ba" class="com.javatpoint.aop.BeforeAdvisor"></bean>
	<bean id="afa" class="com.javatpoint.aop.AfterAdvisor"></bean> 
	<bean id="ara" class="com.javatpoint.aop.AroundAdvisor"></bean>  
	<bean id="ta" class="com.javatpoint.aop.ThrowsAdvisor"></bean>   

	<bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="objV"></property>
		<property name="interceptorNames">
			<list>
				<!--value>ba</value>
				<value>afa</value-->
				<value>ara</value>
				<value>ta</value>
			</list>
		</property>
	</bean>

</beans>  